/*td{*/
    /*width: 50px;*/
    /*height: 50px;*/
    /*border: 1px solid black;*/
/*}*/
.container{
    display:flex;
    justify-content: center;
}
#board{
    margin-bottom: 200px;
    margin-right: 40px;
    color:white;
}
#board2{
    color:white;
}

.ships{
    background-color: blue;
}
.salvoShip{
    background-color: red;
}
.salvoWater{
    background-color: aqua;
}

body{
    background-color: red;
}
#size5{
    background-color: aqua;
    width:250px;
    hight:50px;
}
#size4{
    background-color: aqua;
    width:200px;
    hight:50px;
}
#size3a{
    background-color: aqua;
    width:150px;
    hight:50px;
}
#size3b{
    background-color: aqua;
    width:150px;
    hight:50px;
}
#size2{
    background-color: aqua;
    width:100px;
    hight:50px;
}