body{
    background-image: url("../Images/background-pirate.png.png");
}
td{
width: 50px;
height: 50px;
border: 1px solid black;
}
.container{
    display:flex;
    justify-content: center;
}
#board{
    color:white;
    font-weight: 800;
    text-align: center;
    margin-bottom: 200px;
    background-color: #deb887b5;
}

.ships{
    background-color: blue;
}
.salvoShip{
    background-color: red;
}
.salvoWater{
    background-color: aqua;
}

.container{
    flex-wrap: wrap;
    display:flex;
}
#loginModalButton{
    background-color : cyan;
    width: 50%;
    margin-bottom: 10%;
}
.createAndLogoutButtons{
    display:flex;
    margin-bottom: 10%;
}
#scores{
    color:white;
}
#games{
    color: white;
}
.container{
    display:flex;
    justify-content: center;
}
#board{
    margin-bottom: 200px;
    margin-right: 40px;
    color:white;
}
#board2{
    color:white;
}

.ships{
     background-color: blue;
 }
.salvoShip{
    background-color: red;
}
.salvoWater{
    background-color: aqua;
}

#shipsDiv{
    left:50px;
    position:absolute;
}
#size5{
    background-color: aqua;
    height:49px;
    width:249px;
    /*margin:2%;*/
    border: 2px solid black;
    position: absolute;
    margin-top:-24px;
    transform-origin: 10%;
}
#size4{
    background-color: aqua;
    height:49px;
    width:199px;
    /*margin:2%;*/
    border: 2px solid black;
    position: absolute;
    margin-top:-24px;
    transform-origin: 12% 50%;
}
#size3a{
    background-color: aqua;
    height:49px;
    width:149px;
    overflow: auto;
    border: 2px solid black;
    position: absolute;
    margin-top:-24px;
    transform-origin: 16%;
}
#size3b{
    background-color: aqua;
    height:49px;
    width:149px;
    border: 2px solid black;
    position: absolute;
    margin-top:-24px;
    transform-origin: 16%;
}
#size2{
    background-color: aqua;
    height:49px;
    width:99px;
    border: 2px solid black;
    position: absolute;
    margin-top:-24px;
    transform-origin: 25% 50%;
}


.vertical{
    transform: rotate(90deg);
}